/* border: 1px solid red; */

.login-main {
  position: relative; 
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
}

.login-main::before {
  z-index: -1;
  content: '';
  position: fixed;
  background: #F3EBEB;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 480px;
  padding: 30px;
  z-index: 888;
}

.login-header {
  text-align: center;
  margin: 20px 0 25px 0;
  font-family: Motter Corpus Std, sans-serif;
  letter-spacing: 0.1em;
}

.login-header header {
  font-size: var(--size-4xl);
  font-weight: 600;
}

.input-field {
  width: 100%;
  height: 50px;
  font-size: var(--size-base);
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: .3s;
}

::placeholder {
  font-weight: 500;
}

.input-field:focus {
  transform: scale(1.05, 1);
}

.forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.forgot section {
  display: flex;
  align-items: center; 

}

#check {
  margin-right: 10px;
  transform: translateY(1px);
}

.forgot label {
  line-height: 1; 
  margin: 0;                 
  font-size: var(--size-m);   
}

.login-section {
  display: flex;
  align-items: center;
  font-size: var(--size-base);
}

.login-text {
  text-decoration: none;
  position: relative;
}

.login-text:before {
  content: '';
  position: absolute;
  background-color: black;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
  border-radius: 100px;
}

.login-text:hover:before {
  width: 100%;
}

.login-text:hover {
  color: white;
  font-weight: 600;
}

.login-section .login-text {
  color: black;
}

.input-submit {
  position: relative;
}

.submit-btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

.input-submit label {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: black;
}

.input-submit:hover label {
  color: white;
  font-weight: 800;
}

.sign-up-link {
  text-align: center;
  font-size: var(--size-base);
  margin-top: 20px;
}

.sign-up-link a {
  color: white;
  padding-bottom: 3px;
}

.dropdown-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.dropdown-label {
  align-content: center;
  padding-inline: 15px;
  font-size: var(--size-m);
}

#dropdown {
  padding: 10px;
  font-size: var(--size-m);
  width: 70%;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
}

/* Button CSS ---------------------------------------------------------------------------------------------- */

.btn {
    display: inline-block;
    font-weight: 500;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 1em 1.2em;
    border-radius: 8px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.btn:hover {
  background-color: black;
  color: white;
}
