.login-main {
  position: relative; 
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; 
}

.login-main::before {
  z-index: -1;
  content: '';
  position: fixed;
  background: rgba(1, 1, 1, 0.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 440px;
  height: 480px;
  padding: 30px;
  z-index: 888;
}

.login-header {
  text-align: center;
  margin: 20px 0 40px 0;
  font-family: Motter Corpus Std, sans-serif;
  letter-spacing: 0.1em;
}

.login-header header {
  font-size: var(--size-5xl);
  font-weight: 600;
}

.input-box .input-field {
  width: 100%;
  height: 50px;
  font-size: var(--size-base);
  padding: 0 25px;
  margin-bottom: 15px;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.05);
  outline: none;
  transition: .3s;
}

::placeholder {
  font-weight: 500;
}

.input-field:focus {
  transform: scale(1.05, 1);
}

.forgot {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.login-section {
  display: flex;
  align-items: center;
  font-size: var(--size-base);
  color: var(--clr-yellow);
}

#check {
  margin-right: 10px;
  margin-left: 10px;
}

.login-text {
  text-decoration: none;
  position: relative;
}

.login-text:before {
  content: '';
  position: absolute;
  background-color: var(--clr-white);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
  border-radius: 100px;
}

.login-text:hover:before {
  width: 100%;
}

.login-text:hover {
  color: var(--clr-white);
  font-weight: 600;
}

.login-section .login-text {
  color: var(--clr-white);
}

.input-submit {
  position: relative;
}

.submit-btn {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s;
}

.input-submit label {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: var(--clr-white);
}

.input-submit:hover label {
  color: var(--clr-red);
  font-weight: 800;
}

.sign-up-link {
  text-align: center;
  font-size: var(--size-base);
  margin-top: 20px;
}

.sign-up-link a {
  color: var(--clr-white);
  padding-bottom: 3px;
}

.floating-button {
  position: fixed;
  bottom: 35px;
  right: 50px;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 30px;
  border: 2px solid var(--clr-red);
  background-color: var(--clr-red);
  color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000; /* Ensure it stays on top */
  font-family: Motter corpus Std, sans-serif;
}

.floating-button p {
  text-decoration: none;
  color: inherit;
}

.floating-button:before p {
  content: '';
  position: absolute;
  background-color: var(--clr-yellow);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: 0.5s ease;
  border-radius: 100px;
}

.floating-button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
