
/* Navigation Bar ----------------------------------------------------------------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 999;
}

.header-menu {
  display: none;
}

.header-bars {
  color: var(--clr-yellow);
  width: var(--size-3xl);
  height: var(--size-3xl);
  display: block;
}

.header-logo {
  width: 120px;
}

.header-login {
  font-family: Motter Corpus Std, sans-serif;
  letter-spacing: 0.1em;
  line-height: 1;
  font-weight: 700;
  transition: 0.5s ease;
  /* not entirely sure what line height does */
}
