.container {
    width:  100%;
    margin-left: auto;
    margin-right: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 999;
}

.header-menu {
  display: none;
}


/* Media Queries */

@media (min-width: 1024px) {
  .container {
      max-width: 1024px;
  }
  
  .header-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header-link {
      font-size: var(--size-sm);
      text-decoration: none;
      font-weight: 600;
      color: black;
      transition: color 0.3s;
      position: relative;
      padding-bottom: 5px;
  }

  .header-link:before {
      content: '';
      position: absolute;
      background-color: black;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      transition: 1s ease;
      border-radius: 100px;
  }

  .header-link:hover:before {
      width: 100%;
  }
}

/* xl ---------------------------------------------------------------------------------------------- 1280px */
@media (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
  
  .header-link {
      font-size: var(--size-sm);
  }
  
  .header-login {
      font-size: var(--size-sm);
  }

  .hero-content {
    font-size: 45px;
  }

  .hero-btn {
      font-size: 19px;
  }
}

/* 2xl ---------------------------------------------------------------------------------------------- 1536px */
@media (min-width: 1536px) {
  .container {
      max-width: 1536px;
  }
      
  .header-link {
      font-size: var(--size-sm);
  }
  
  .header-login {
      font-size: var(--size-sm);
  }

  .hero-content {
    font-size: 50px;
  }

  .hero-btn {
      font-size: 20px;
  }
}

/* extra ---------------------------------------------------------------------------------------------- 1920px */
@media (min-width: 1920px) {
  .container {
      max-width: 1920px;
  }
      
  .header-link {
      font-size: var(--size-m);
  }
  
  .header-login {
      font-size: var(--size-m);
  }
}

/* extra ---------------------------------------------------------------------------------------------- 2560px */
@media (min-width: 2560px) {
  .container {
      max-width: 2560px;
  }
      
  .header-link {
      font-size: var(--size-m);
  }
  
  .header-login {
      font-size: var(--size-m);
  }
}