@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700);

@import url(https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;600;700;900&display=swap);


@font-face {
    font-family: 'Motter Corpus Std';
    src: local('Motter Corpus Std'), local('MotterCorpusStd-Regular'),
      url('./fonts/MotterCorpusStd-Regular.eot?#iefix') format('embedded-opentype'),
      url('./fonts/MotterCorpusStd-Regular.woff2') format('woff2'),
      url('./fonts/MotterCorpusStd-Regular.woff') format('woff'),
      url('./fonts/MotterCorpusStd-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
::before,
::after {
    box-sizing: border-box;
}

* {
    margin : 0;
    padding: 0;
    line-height: calc(1em + 0.5rem);
}

:root {    

    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-m: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;


    --max-width: 1200px;

}



/* General CSS ---------------------------------------------------------------------------------------------- */

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body, html {
    height: 100%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.app-wrapper {
    width:  100%;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid red;  */
    /* Just for me to check sizing */
}

/* Video ---------------------------------------------------------------------------------------------- */

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/* Video Transitions */

.video {
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.video.active {
  opacity: 1;
}

